<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jt.sys.dao.SysUserRoleDao">
	<delete id="deleteObjectsByRoleId" parameterType="int">
		delete from
		sys_user_roles where role_id=#{id}
	</delete>
	
	<delete id="deleteObjectsByUserId" parameterType="int">
		delete from
		sys_user_roles where user_id=#{userId}
	</delete>
	
	<delete id="deleteObjectsById">
		delete from
		sys_user_roles where ${columnName}=#{columnValue}
	</delete>

	<select id="findRoleIdsByUserId" resultType="int">
		select role_id
		from sys_user_roles
		where user_id=#{userId}
	</select>

	<insert id="insertObject">
		insert into sys_user_roles (user_id,role_id)
		values
		<foreach item="i" collection="roleIds" separator=",">
			(#{userId},#{i})
		</foreach>
	</insert>

</mapper>
